* {box-sizing: border-box;}
html { height: 100%; display: flex; }

body
{
  font-family: Helvetica, sans-serif;
  background-color: #DDDDDD;
  margin: auto;
}

.input--text::placeholder
{
  color: #ccc;
}

.input--text
{
  font-size: 1em;
  width: 100%;
  padding: 0.4em;
  color: #000;
  margin-bottom: 1em;
}

.app
{
  background-color: white;
  width: 400px;
  box-shadow: 0px 0px 1em #ccc;
  font-size: 1.25em;
  padding: 1em;
}

.todos
{  
  
}

.todo
{
  border-top: 1px solid #ddd;
  color: #F94D35;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.8em;
}

.todo__delete
{
  margin-left: auto;
  color: blue;
}

.todo__delete:active
{
  color: red;
}

.todo__state
{
  margin-right: 0.5em;  
}

.todo--completed
{
  color: #fcb3a8;
}

.todo--completed .todo__text
{
  display: inline-block;
  position: relative;
}

.todo--completed .todo__state
{
  visibility: hidden;
}

.todo--completed .todo__state::before
{
  content: "✔";
  visibility: visible;  
  color: red;
  position: relative;
  top: -0.2em;
}

.todo--completed .todo__text::before
{
  content: " ";
  display: block;
  position: absolute;
  height: 0.1em;
  width: 100%;
  margin-top: calc(1em / 2 - 2px);
  border-bottom: 3px solid #F94D35;
}

.btn
{
  font-size: 1em;
  padding: 0.5em;
  font-weight: bold;
  border-radius: 0.2em;
  border: none;
  color: white;
  background-color: #F94D35;
  cursor: pointer;
}

.btn:active
{
  position: relative;
  top: 1px;
}

.hidden
{
  display:none;
}

.alert
{
  background-color: #B4C4E7;
  padding: 0.5em;
  margin-bottom: 1em;
  color: #32549d;
}